.question-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    color: #000;
    border: 1px solid #000;
}

.question-table th,
.question-table td {
    border: 1px solid #000;
    padding: 8px 10px;
    vertical-align: top;
}

.question-table thead th {
    text-align: center;
    font-weight: bold;
    background-color: #f2f2f2;
}

.sno {
    text-align: center;
    font-weight: bold;
    width: 50px;
}

.question {
    text-align: left;
    width: 90%;
    line-height: 1.5;
}

.co,
.blooms,
.mark {
    text-align: center;
    width: 8%;
}

.question-table tbody tr {
    height: 40px;
}

@media print {
    .question-table {
        font-size: 13px;
    }

    .question-table thead th {
        background-color: #eaeaea;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}