.paper-container {
  width: 210mm;
  min-height: 297mm;
  margin: auto;
  padding: 15mm;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
  color: #000;
  background: white;
}

.pdf-content {
  width: 100%;
  margin: auto;
}

.college-header {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}

.center-img {
  display: block;
  margin: 0 auto 5px auto;
}

.course-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  margin: 15px 0;
  font-size: 14px;
}

.unit-title {
  text-align: center;
  margin: 20px 0;
}

.section-title {
  text-align: center;
  margin: 15px 0;
}

.questions-section {
  margin-top: 20px;
}

.question-card {
  border: 1px solid black;
  padding: 12px;
  margin-bottom: 15px;
}

.question-number {
  font-weight: bold;
}

.marks {
  text-align: right;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
  page-break-inside: avoid;
}

tr, td, th {
  page-break-inside: avoid;
}

h2, h3 {
  page-break-after: avoid;
}

.page-break {
  page-break-before: always;
}

.dwnl{
  width: 210mm;
  min-height: 297mm;
  margin: auto;
  padding: 15mm;
  box-sizing: border-box;
}
